.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

body {
  background-color: antiquewhite;
}

.App>h2 {
  text-align: center;
}

.App button {
  appearance: none;
  width: 10rem;
  font-size: larger;
  padding: 2vmax auto;
  height: 1.8rem;
  color: white;
  background-color: rgb(34, 34, 33);
  border-radius: 10px;

}

button:hover {
  background-color: rgb(100, 80, 78);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}